<style>
section h1{background:#036;}
</style>
<h1>{{ title }}</h1>

<ul>
{{#each news_items}}
<li data-image="{{fields.thumbnail}}">
    <strong>{{webTitle}}</strong><br>
    {{striptags fields.trailText}}<br>
    <a href="{{ webUrl }}/amp">Read more &raquo;</a>
</li>
{{/each}}
</ul>