<style>
section h1{background:#360;}
    @media (min-width:420px) {
section ul{padding:0 5px;}
section ul:after{content:"";display:table;clear:both;}
section ul li{width:300px;margin:10px 5px;float:left;height:450px;overflow:hidden;}
    }
section ul li img{max-width:100%;height:auto;display:block;margin-bottom:5px;}
</style>
<h1>{{ title }}</h1>

<ul id="news-list">
{{#each news_items}}
<li>
    {{#if fields.thumbnail}}
    <img src="{{fields.thumbnail}}" alt="{{webTitle}}">
    {{/if}}
    <strong>{{webTitle}}</strong><br>
    {{striptags fields.trailText }}<br>
    <a href="{{ webUrl }}/amp">Read more &raquo;</a>
</li>
{{/each}}
</ul>
<!--
<script>
    var list = document.getElementById("news-list").childNodes;
    for (i = 0; i < list.length; i++) { 
        image_url = list[i].getAttribute("data-image");
        image_alt = list[i].getAttribute("data-alt");
        the_image = document.createElement("img");
        the_image.setAttribute('src', image_url);
        the_image.setAttribute('alt', image_alt);
        list[i].insertBefore(the_image, list[i].firstChild);
    }
</script>
-->
